include ./../templates/ru-header.pug
include ./../templates/footer.pug
include ./../templates/textWithTags.pug

- var queryComplete = query ? query : ""

doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="facebook-domain-verification" content="bd1qy6hoqnatx50dekig5hjn6q5j7v")

    title MetalCards - Преимущества

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    
    link(rel="stylesheet", href="/benefits/ru4.css")

    style
      | @font-face {
      |     font-family: "Gilroy";
      |     src: url('/fonts/gilroy-light.woff2') format('woff2'),
      |         url('/fonts/gilroy-light.woff') format('woff'),
      |         url('/fonts/gilroy-light.ttf') format('truetype');
      |     font-weight: 300;
      |     font-style: normal;
      | }

      | @font-face {
      |     font-family: "Beware";
      |     src: url('/fonts/beware-regular.woff2') format('woff2'),
      |         url('/fonts/beware-regular.woff') format('woff'),
      |         url('/fonts/beware-regular.ttf') format('truetype');
      |     font-weight: 400;
      |     font-style: normal;
      | }
  
body
  h1.visually-hidden Страница, на которой вы можете ознакомиться с преимуществами работы с нами

  +header("benefits", "преимущества", queryComplete)

  main
    div.benefits-container.benefits-container_design
      div.benefits-container__overflow
        -
          var items = [
            {
              class: "benefits-container__design",
              header: [{text: "Премиальный ", tag: ""}, {text: [{text: "дизайн", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/star-1x.webp 1x, /images/benefits/star-2x.webp 2x",
              src: "/images/benefits/star-1x.png",
              srcSet: "/images/benefits/star-1x.png 1x, /images/benefits/star-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Звезда",
              desc: [
                {text: [{text: "Надоело мириться с некрасивым и навязанным дизайном? Создай свой!", tag: ""}], tag: "span"},
                {text: [{text: "У нас ты можешь сам создать свой собственный  дизайн карты всего за 5 минут, и будь уверен, что ты не встретишь его ни у кого в Ташкенте!", tag: ""}], tag: "span"},
                {text: [{text: "Не хочешь тратить время? Выбери один из премиальных скинов в галерее и закажи его в 2 клика.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__safe",
              header: [{text: "С нами ", tag: ""}, {text: [{text: "безопасно", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/padlock-1x.webp 1x, /images/benefits/padlock-2x.webp 2x",
              src: "/images/benefits/padlock-1x.png",
              srcSet: "/images/benefits/padlock-1x.png 1x, /images/benefits/padlock-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Замок",
              desc: [
                {text: [{text: "Ты можешь не переживать ни о своем балансе на карте, ни о сохранности персональных данных.", tag: ""}], tag: "span"},
                {text: [{text: "Мы обеспечиваем сохранность твоей личной информации, ну и, конечно же, не передаем карту третьим лицам.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__fast",
              header: [{text: "Работаем ", tag: ""}, {text: [{text: "быстро", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/compass-1x.webp 1x, /images/benefits/compass-2x.webp 2x",
              src: "/images/benefits/compass-1x.png",
              srcSet: "/images/benefits/compass-1x.png 1x, /images/benefits/compass-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Компас",
              desc: [
                {text: [{text: "Персональная гравировка карты занимает 1-2 рабочих дня. В редких случаях, когда требуется разработка уникального дизайна именно по твоему концепту, может потребоваться чуть больше времени.", tag: ""}], tag: "span"},
                {text: [{text: "Мы работаем быстро, и это не просто слова. Оформи заказ, и убедись в этом сам.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__price",
              header: [{text: "У нас честные ", tag: ""}, {text: [{text: "цены", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/coin-1x.webp 1x, /images/benefits/coin-2x.webp 2x",
              src: "/images/benefits/coin-1x.png",
              srcSet: "/images/benefits/coin-1x.png 1x, /images/benefits/coin-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Монета",
              desc: [
                {text: [{text: "Мы не стремимся навариться на клиентах, а предлагаем честную стоимость за честный труд.", tag: ""}], tag: "span"},
                {text: [{text: "Гравировка карты с двух сторон - 250 000 сум.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__connection",
              header: [{text: "Мы всегда ", tag: ""}, {text: [{text: "на связи", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/chat-1x.webp 1x, /images/benefits/chat-2x.webp 2x",
              src: "/images/benefits/chat-1x.png",
              srcSet: "/images/benefits/chat-1x.png 1x, /images/benefits/chat-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Чат",
              desc: [
                {text: [{text: "Ты всегда можешь расчитывать на нашу помощь по вопросам гравировки карт.", tag: ""}], tag: "span"},
                {text: [{text: "Возникли вопросы? Хочешь предложить сотрудничество?", tag: ""}], tag: "span"},
                {text: [{text: "Позвони нам в офис, напиши в Директ в Instagram или кинь сообщение в Telegram-бот.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__payme",
              header: [{text: "Оплата через ", tag: ""}, {text: [{text: "Payme", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/basket-1x.webp 1x, /images/benefits/basket-2x.webp 2x",
              src: "/images/benefits/basket-1x.png",
              srcSet: "/images/benefits/basket-1x.png 1x, /images/benefits/basket-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Корзина",
              desc: [
                {text: [
                  {text: "Тебе нужно будет приехать к нам в офис всего 2 раза:", tag: ""},
                  {tag: "br"},
                  {text: "1 - чтобы привезти карту;", tag: ""},
                  {tag: "br"},
                  {text: "2 - чтобы забрать ее обратно.", tag: ""}
                ], tag: "span"},
                {text: [{text: "Все остальное (разработка дизайна, оформление заказа и консультация) происходит онлайн в том формате, который тебе удобен.", tag: ""}], tag: "span"},
                {text: [{text: "Кстати, мы принимаем оплату через Payme.", tag: ""}], tag: "span"},
              ]
            },
            {
              class: "benefits-container__gift",
              header: [{text: "Сделай себе ", tag: ""}, {text: [{text: "подарок", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/gift-1x.webp 1x, /images/benefits/gift-2x.webp 2x",
              src: "/images/benefits/gift-1x.png",
              srcSet: "/images/benefits/gift-1x.png 1x, /images/benefits/gift-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Подарок",
              desc: []
            }
          ]

        each item, itemIndex in items
          div(class=item.class)
            h2 
              +textWithTags(item.header)
            div.benefits-container__img-cont
              picture
                source(type="image/webp", srcset=item.webpSrcSet)
                img.benefits-container__img(src=item.src, alt=item.alt, srcset=item.srcSet)
              img.benefits-container__blur(src=item.blurSrc, alt="Блюр")
            if itemIndex != (items.length - 1)
              p
                +textWithTags(item.desc)
            else
              p 
                span У нас ты можешь забрендировать карту любой платежной системы:
              ul 
                li Uzcard
                li Humo
                li VISA
              p 
                span Не жди подходящего момента. Не жди праздника или повода. Закажи металлическую карту прямо сейчас и войди в ряды избранных вместе с MetalCards.

      

      div.benefits-container__line.benefits-container__line_0
        span.benefits-container__line-active

      div.benefits-container__btns
        button.benefits-container__next-btn
          span вниз

        button.benefits-container__prev-btn
          span наверх
    
    div.benefits-image-container.benefits-image-container_0
      div.benefits-image-container__overflow
        -
          var items = [
            {
              class: "benefits-image-container__design",
              webpSrcSet: "/images/benefits/star-1x.webp 1x, /images/benefits/star-2x.webp 2x",
              src: "/images/benefits/star-1x.png",
              srcSet: "/images/benefits/star-1x.png 1x, /images/benefits/star-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Звезда"
            },
            {
              class: "benefits-image-container__safe",
              webpSrcSet: "/images/benefits/padlock-1x.webp 1x, /images/benefits/padlock-2x.webp 2x",
              src: "/images/benefits/padlock-1x.png",
              srcSet: "/images/benefits/padlock-1x.png 1x, /images/benefits/padlock-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Замок"
            },
            {
              class: "benefits-image-container__fast",
              webpSrcSet: "/images/benefits/compass-1x.webp 1x, /images/benefits/compass-2x.webp 2x",
              src: "/images/benefits/compass-1x.png",
              srcSet: "/images/benefits/compass-1x.png 1x, /images/benefits/compass-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Компас"
            },
            {
              class: "benefits-image-container__price",
              webpSrcSet: "/images/benefits/coin-1x.webp 1x, /images/benefits/coin-2x.webp 2x",
              src: "/images/benefits/coin-1x.png",
              srcSet: "/images/benefits/coin-1x.png 1x, /images/benefits/coin-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Монета"
            },
            {
              class: "benefits-image-container__connection",
              webpSrcSet: "/images/benefits/chat-1x.webp 1x, /images/benefits/chat-2x.webp 2x",
              src: "/images/benefits/chat-1x.png",
              srcSet: "/images/benefits/chat-1x.png 1x, /images/benefits/chat-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Чат"
            },
            {
              class: "benefits-image-container__payme",
              webpSrcSet: "/images/benefits/basket-1x.webp 1x, /images/benefits/basket-2x.webp 2x",
              src: "/images/benefits/basket-1x.png",
              srcSet: "/images/benefits/basket-1x.png 1x, /images/benefits/basket-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Корзина"
            },
            {
              class: "benefits-image-container__gift",
              webpSrcSet: "/images/benefits/gift-1x.webp 1x, /images/benefits/gift-2x.webp 2x",
              src: "/images/benefits/gift-1x.png",
              srcSet: "/images/benefits/gift-1x.png 1x, /images/benefits/gift-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Подарок"
            }
          ]

        each item in items
          div(class=item.class)
            picture
              source(type="image/webp", srcset=item.webpSrcSet)
              img.benefits-image-container__img(src=item.src, alt=item.alt, srcset=item.srcSet)
            img.benefits-image-container__blur(src=item.blurSrc, alt="Блюр")
      
  +footer()

  <script src="/benefits/ru4.js"></script>

  <!-- Meta Pixel Code -->
  script
    | !function(f,b,e,v,n,t,s)
    | {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    | n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    | if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    | n.queue=[];t=b.createElement(e);t.async=!0;
    | t.src=v;s=b.getElementsByTagName(e)[0];
    | s.parentNode.insertBefore(t,s)}(window, document,'script',
    | 'https://connect.facebook.net/en_US/fbevents.js');
    | fbq('init', '1176030859630983');
    | fbq('track', 'PageView');

  noscript
    img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1176030859630983&ev=PageView&noscript=1")
  <!-- End Meta Pixel Code -->

  <!-- Yandex.Metrika counter -->
  script
    | (function(m,e,t,r,i,k,a){m[i]=m[i] || function () {
    |   (m[i].a = m[i].a || []).push(arguments)
    | };
    |   m[i].l=1 * new Date();
    |   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    |   k=e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)})
    | (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    | ym(96006193, "init", {
    | clickmap:true,
    |   trackLinks:true,
    |   accurateTrackBounce:true,
    |   webvisor:true
    |   });
  noscript
    div
      img(src="https://mc.yandex.ru/watch/96006193" style="position:absolute; left:-9999px;" alt="")
  <!-- /Yandex.Metrika counter -->