include ./../templates/uz-header.pug
include ./../templates/footer.pug
include ./../templates/textWithTags.pug

- var queryComplete = query ? query : ""

doctype html
html(lang='uz')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="facebook-domain-verification" content="bd1qy6hoqnatx50dekig5hjn6q5j7v")

    title MetalCards - Afzalliklar
    
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    
    link(rel="stylesheet", href="/benefits/uz4.css")

    style
      | @font-face {
      |     font-family: "Gilroy";
      |     src: url('/fonts/gilroy-light.woff2') format('woff2'),
      |         url('/fonts/gilroy-light.woff') format('woff'),
      |         url('/fonts/gilroy-light.ttf') format('truetype');
      |     font-weight: 300;
      |     font-style: normal;
      | }

      | @font-face {
      |     font-family: "Beware";
      |     src: url('/fonts/beware-regular.woff2') format('woff2'),
      |         url('/fonts/beware-regular.woff') format('woff'),
      |         url('/fonts/beware-regular.ttf') format('truetype');
      |     font-weight: 400;
      |     font-style: normal;
      | }
  
body
  h1.visually-hidden Afzalliklar

  +header("benefits", "afzalliklar", queryComplete)

  main
    div.benefits-container.benefits-container_design
      div.benefits-container__overflow
        -
          var items = [
            {
              class: "benefits-container__design",
              header: [{text: "Premial ", tag: ""}, {text: [{text: "dizayn", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/star-1x.webp 1x, /images/benefits/star-2x.webp 2x",
              src: "/images/benefits/star-1x.png",
              srcSet: "/images/benefits/star-1x.png 1x, /images/benefits/star-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Yulduz",
              desc: [
                {text: [{text: "Uncha chiroyli bo‘lmagan va sizga majburan o‘tkazilgan dizaynga rozi bo‘lishdan charchadingizmi? Unda o‘z dizayningizni yarating!", tag: ""}], tag: "span"},
                {text: [{text: "Bizda siz kartangizning dizaynini atigi 5 daqiqada yaratishingiz mumkin. Ishonchingiz komil bo‘lsinki, Toshkentda uni boshqa hech kimda uchrata olmaysiz!", tag: ""}], tag: "span"},
                {text: [{text: "Vaqt sarflashni istamaysizmi? Unda galereyadan premial skinlarning bittasini tanlang va 2 ta klik orqali unga buyurtma bering.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__safe",
              header: [{text: "Biz bilan ", tag: ""}, {text: [{text: "xavfsiz", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/padlock-1x.webp 1x, /images/benefits/padlock-2x.webp 2x",
              src: "/images/benefits/padlock-1x.png",
              srcSet: "/images/benefits/padlock-1x.png 1x, /images/benefits/padlock-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "qulf",
              desc: [
                {text: [{text: "Kartangizdagi balans haqida yoki shaxsiy ma’lumotlaringiz maxfiyligi haqida ham havotir olmasangiz bo‘ladi.", tag: ""}], tag: "span"},
                {text: [{text: "Biz shaxsiy ma’lumotlaringiz maxfiyligini ta’minlaymiz, va albatta, kartani uchinchi shaxslarga taqdim berib yubormaymiz.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__fast",
              header: [{text: "Tez ", tag: ""}, {text: [{text: "ishlaymiz", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/compass-1x.webp 1x, /images/benefits/compass-2x.webp 2x",
              src: "/images/benefits/compass-1x.png",
              srcSet: "/images/benefits/compass-1x.png 1x, /images/benefits/compass-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "kompas",
              desc: [
                {text: [{text: "Kartaga shaxsiy dizaynni o‘yib tushirish 1-2 ish kunida amalga oshiriladi. Kam hollarda, aynan sizning konseptingiz bo‘yicha yagona dizayn ishlab chiqish zarur bo‘lganida, sal ko‘proq vaqt talab qilinishi mumkin.", tag: ""}], tag: "span"},
                {text: [{text: "Biz tez ishlaymiz, va bu shunchaki so‘zlar emas. Buyurtma qiling va o‘zingiz ishonch hosil qiling.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__price",
              header: [{text: "Bizning narxlarimiz ", tag: ""}, {text: [{text: "adolatli", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/coin-1x.webp 1x, /images/benefits/coin-2x.webp 2x",
              src: "/images/benefits/coin-1x.png",
              srcSet: "/images/benefits/coin-1x.png 1x, /images/benefits/coin-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "tanga",
              desc: [
                {text: [{text: "Biz mijozlar orqali boyib ketishga intilmaymiz, halol mehnat evaziga adolatli qiymat taklif qilamiz.", tag: ""}], tag: "span"},
                {text: [{text: "Kartaga ikki tarafdan o‘yma tasvir tushirish narxi – 250 000 so‘m", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__connection",
              header: [{text: "Biz doimo ", tag: ""}, {text: [{text: "aloqadamiz", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/chat-1x.webp 1x, /images/benefits/chat-2x.webp 2x",
              src: "/images/benefits/chat-1x.png",
              srcSet: "/images/benefits/chat-1x.png 1x, /images/benefits/chat-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "suhbat",
              desc: [
                {text: [{text: "Kartalarga o‘yma tasvir tushirish bo‘yicha savollaringiz bo‘lsa, doim bizga murojaat qilishingiz mumkin.", tag: ""}], tag: "span"},
                {text: [{text: "Savollaringiz bormi? Hamkorlik taklif qilmoqchimisiz?", tag: ""}], tag: "span"},
                {text: [{text: "Bizning ofisga qo‘ng‘iroq qiling, Instagramga shaxsiy xabarlarga yozing yoki Telegram-botga xabar yuboring.", tag: ""}], tag: "span"}
              ]
            },
            {
              class: "benefits-container__payme",
              header: [{text: "Payme orqali ", tag: ""}, {text: [{text: "to‘lov", tag: ""}], tag: "span"}],
              webpSrcSet: "/images/benefits/basket-1x.webp 1x, /images/benefits/basket-2x.webp 2x",
              src: "/images/benefits/basket-1x.png",
              srcSet: "/images/benefits/basket-1x.png 1x, /images/benefits/basket-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "savat",
              desc: [
                {text: [
                  {text: "Ofisimizga atigi 2 marta kelib ketishingiz kerak bo‘ladi:", tag: ""},
                  {tag: "br"},
                  {text: "1 – kartani olib kelish uchun;", tag: ""},
                  {tag: "br"},
                  {text: "2 – uni olib ketish uchun.", tag: ""}
                ], tag: "span"},
                {text: [{text: "Qolgan barcha ishlar (dizaynni ishlab chiqish, buyurtmani rasmiylashtirish va konsultasiya) sizga qulay bo‘lgan formatda amalga oshiriladi.", tag: ""}], tag: "span"},
                {text: [{text: "Aytgancha, biz Payme orqali to‘lov qabul qilamiz.", tag: ""}], tag: "span"},
              ]
            },
            {
              class: "benefits-container__gift",
              header: [{text: "O‘zingizga sovg‘a qiling", tag: ""}],
              webpSrcSet: "/images/benefits/gift-1x.webp 1x, /images/benefits/gift-2x.webp 2x",
              src: "/images/benefits/gift-1x.png",
              srcSet: "/images/benefits/gift-1x.png 1x, /images/benefits/gift-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "sovg'a",
              desc: []
            }
          ]

        each item, itemIndex in items
          div(class=item.class)
            h2 
              +textWithTags(item.header)
            div.benefits-container__img-cont
              picture
                source(type="image/webp", srcset=item.webpSrcSet)
                img.benefits-container__img(src=item.src, alt=item.alt, srcset=item.srcSet)
              img.benefits-container__blur(src=item.blurSrc, alt="Блюр")
            if itemIndex != (items.length - 1)
              p
                +textWithTags(item.desc)
            else
              p 
                span Bizda istalgan to‘lov tizimiga doir kartani brendlashtirishingiz mumkin:
              ul 
                li Uzcard
                li Humo
                li VISA
              p 
                span Qulay fursatni kutmang. Bayram yoki boshqa bir sabab bo‘lishini kutmang. Hozirning o‘zida metall kartaga buyurtma bering va MetalCards bilan birgalikda saralar qatoriga qo‘shiling.

      

      div.benefits-container__line.benefits-container__line_0
        span.benefits-container__line-active

      div.benefits-container__btns
        button.benefits-container__next-btn
          span pastga 

        button.benefits-container__prev-btn
          span yuqoriga 
    
    div.benefits-image-container.benefits-image-container_0
      div.benefits-image-container__overflow
        -
          var items = [
            {
              class: "benefits-image-container__design",
              webpSrcSet: "/images/benefits/star-1x.webp 1x, /images/benefits/star-2x.webp 2x",
              src: "/images/benefits/star-1x.png",
              srcSet: "/images/benefits/star-1x.png 1x, /images/benefits/star-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "Yulduz"
            },
            {
              class: "benefits-image-container__safe",
              webpSrcSet: "/images/benefits/padlock-1x.webp 1x, /images/benefits/padlock-2x.webp 2x",
              src: "/images/benefits/padlock-1x.png",
              srcSet: "/images/benefits/padlock-1x.png 1x, /images/benefits/padlock-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "qulf"
            },
            {
              class: "benefits-image-container__fast",
              webpSrcSet: "/images/benefits/compass-1x.webp 1x, /images/benefits/compass-2x.webp 2x",
              src: "/images/benefits/compass-1x.png",
              srcSet: "/images/benefits/compass-1x.png 1x, /images/benefits/compass-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "kompas"
            },
            {
              class: "benefits-image-container__price",
              webpSrcSet: "/images/benefits/coin-1x.webp 1x, /images/benefits/coin-2x.webp 2x",
              src: "/images/benefits/coin-1x.png",
              srcSet: "/images/benefits/coin-1x.png 1x, /images/benefits/coin-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "tanga"
            },
            {
              class: "benefits-image-container__connection",
              webpSrcSet: "/images/benefits/chat-1x.webp 1x, /images/benefits/chat-2x.webp 2x",
              src: "/images/benefits/chat-1x.png",
              srcSet: "/images/benefits/chat-1x.png 1x, /images/benefits/chat-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "suhbat"
            },
            {
              class: "benefits-image-container__payme",
              webpSrcSet: "/images/benefits/basket-1x.webp 1x, /images/benefits/basket-2x.webp 2x",
              src: "/images/benefits/basket-1x.png",
              srcSet: "/images/benefits/basket-1x.png 1x, /images/benefits/basket-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "savat"
            },
            {
              class: "benefits-image-container__gift",
              webpSrcSet: "/images/benefits/gift-1x.webp 1x, /images/benefits/gift-2x.webp 2x",
              src: "/images/benefits/gift-1x.png",
              srcSet: "/images/benefits/gift-1x.png 1x, /images/benefits/gift-2x.png 2x",
              blurSrc: "/images/benefits/blur.png",
              alt: "sovg'a"
            }
          ]

        each item in items
          div(class=item.class)
            picture
              source(type="image/webp", srcset=item.webpSrcSet)
              img.benefits-image-container__img(src=item.src, alt=item.alt, srcset=item.srcSet)
            img.benefits-image-container__blur(src=item.blurSrc, alt="Блюр")
      
  +footer()

  <script src="/benefits/uz4.js"></script>

  <!-- Meta Pixel Code -->
  script
    | !function(f,b,e,v,n,t,s)
    | {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    | n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    | if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    | n.queue=[];t=b.createElement(e);t.async=!0;
    | t.src=v;s=b.getElementsByTagName(e)[0];
    | s.parentNode.insertBefore(t,s)}(window, document,'script',
    | 'https://connect.facebook.net/en_US/fbevents.js');
    | fbq('init', '1176030859630983');
    | fbq('track', 'PageView');

  noscript
    img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1176030859630983&ev=PageView&noscript=1")
  <!-- End Meta Pixel Code -->

  <!-- Yandex.Metrika counter -->
  script
    | (function(m,e,t,r,i,k,a){m[i]=m[i] || function () {
    |   (m[i].a = m[i].a || []).push(arguments)
    | };
    |   m[i].l=1 * new Date();
    |   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    |   k=e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)})
    | (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    | ym(96006193, "init", {
    | clickmap:true,
    |   trackLinks:true,
    |   accurateTrackBounce:true,
    |   webvisor:true
    |   });
  noscript
    div
      img(src="https://mc.yandex.ru/watch/96006193" style="position:absolute; left:-9999px;" alt="")
  <!-- /Yandex.Metrika counter -->