mixin header(activeName, nameInMob, queryLink) 
  header.header
    a.header__logo(href="/ru/" + queryLink)
      h2.visually-hidden Логотип компании и ссылка на главную страницу
      img(src="/images/logo.svg" alt="Логотип")

    nav.header__nav
      h2.visually-hidden Карта сайта
      ul.header__nav-list
        -
          var items = [
            {
              href: "/ru/",
              enName: "main",
              name: "главная",
              specialClass: ""
            },
            {
              href: "/gallery/ru/",
              enName: "gallery",
              name: "галерея",
              specialClass: ""
            },
            {
              href: "/how/ru/",
              enName: "how",
              name: "как это работает",
              specialClass: ""
            },
            {
              href: "/benefits/ru/",
              enName: "benefits",
              name: "преимущества",
              specialClass: ""
            },
            {
              href: "/design/ru/",
              enName: "design",
              name: "твой дизайн",
              specialClass: "header__nav-list-item_design"
            }
          ]

        each item in items 
          li(class="header__nav-list-item " + (item.enName == activeName ? "header__nav-list-item_active " : " ") + item.specialClass)
            a(href=item.href + queryLink)
              span #{item.name}
      
    div.header__lang-cont
      a(href="./" + queryLink).header__lang-cont-item.header__lang-cont-item_active рус
      a(href="./../uz/" + queryLink).header__lang-cont-item o'zb

  header.header_mob
    input.visually-hidden#header-mob-nav(type="checkbox")

    a.header__logo_mob(href="/ru/" + queryLink)
      h2.visually-hidden Логотип компании и ссылка на главную страницу
      img(src="/images/logo.svg" alt="Логотип")
    
    h2.header__heading_mob #{nameInMob}

    label.header__nav-btn_mob(for="header-mob-nav") 
      img(src="/images/nav-btn.svg", alt="Кнопка навигации")

    div.header__container_mob
      div.header__container-inner_mob
        div.header__container-inner-header_mob
          a.header__container-inner-header-logo_mob(href="/ru/" + queryLink)
            h2.visually-hidden Логотип компании и ссылка на главную страницу
            img(src="/images/logo.svg" alt="Логотип")

          div.header__container-inner-header-lang-cont
            a(href="./" + queryLink).header__container-inner-header-lang-cont-item.header__container-inner-header-lang-cont-item_active рус
            a(href="./../uz/" + queryLink).header__container-inner-header-lang-cont-item o'zb
          
          label.header__container-inner-header-nav-exit_mob(for="header-mob-nav") 
            img(src="/images/exit.svg", alt="Кнопка навигации")

        nav.header__container-inner-nav_mob
          h3.visually-hidden Карта сайта
          ul.header__container-inner-nav-list_mob
            -
              var items = [
                {
                  href: "/ru/",
                  enName: "main",
                  name: "главная",
                  specialClass: ""
                },
                {
                  href: "/gallery/ru/",
                  enName: "gallery",
                  name: "галерея",
                  specialClass: ""
                },
                {
                  href: "/how/ru/",
                  enName: "how",
                  name: "как это работает",
                  specialClass: ""
                },
                {
                  href: "/benefits/ru/",
                  enName: "benefits",
                  name: "преимущества",
                  specialClass: ""
                },
                {
                  href: "/design/ru/",
                  enName: "design",
                  name: "твой дизайн",
                  specialClass: "header__nav-list-item_mob-design"
                }
              ]

            each item in items 
              li(class="header__container-inner-nav-list-item_mob " + (item.enName == activeName ? "header__container-inner-nav-list-item_mob-active " : " ") + item.specialClass)
                a(href=item.href + queryLink)
                  span #{item.name}
          
        div.header__container-inner-links_mob
          a(href="https://www.instagram.com/metalcards.uz?utm_medium=copy_link") instagram
          a(href="http://tiktok.com/@metalcardsuz") tik tok
          a(href="https://t.me/metalcardsuz") telegram
          a(href="tel:+998989997799") +998 98 999 77 99
          span © 2022 MetalCards