mixin header(activeName, nameInMob, queryLink) 
  header.header
    a.header__logo(href="/uz/" + queryLink)
      h2.visually-hidden Kompaniya logotipi va bosh sahifaga havola
      img(src="/images/logo.svg" alt="Logotip")

    nav.header__nav
      h2.visually-hidden Sayt xaritasi
      ul.header__nav-list
        -
          var items = [
            {
              href: "/uz/",
              enName: "main",
              name: "bosh sahifa",
              specialClass: ""
            },
            {
              href: "/gallery/uz/",
              enName: "gallery",
              name: "galereya",
              specialClass: ""
            },
            {
              href: "/how/uz/",
              enName: "how",
              name: "bu qanday ishlaydi",
              specialClass: ""
            },
            {
              href: "/benefits/uz/",
              enName: "benefits",
              name: "afzalliklar",
              specialClass: ""
            },
            {
              href: "/design/uz/",
              enName: "design",
              name: "sizning dizayningiz",
              specialClass: "header__nav-list-item_design"
            }
          ]

        each item in items 
          li(class="header__nav-list-item " + (item.enName == activeName ? "header__nav-list-item_active " : " ") + item.specialClass)
            a(href=item.href + queryLink)
              span #{item.name}
      
    div.header__lang-cont
      a(href="./../ru/" + queryLink).header__lang-cont-item рус
      a(href="./" + queryLink).header__lang-cont-item.header__lang-cont-item_active o'zb


  header.header_mob
    input.visually-hidden#header-mob-nav(type="checkbox")

    a.header__logo_mob(href="/uz/" + queryLink)
      h2.visually-hidden Kompaniya logotipi va bosh sahifaga havola
      img(src="/images/logo.svg" alt="Logotip")
    
    h2.header__heading_mob #{nameInMob}

    label.header__nav-btn_mob(for="header-mob-nav") 
      img(src="/images/nav-btn.svg", alt="Navigatsiya tugmasi")

    div.header__container_mob
      div.header__container-inner_mob
        div.header__container-inner-header_mob
          a.header__container-inner-header-logo_mob(href="/uz/" + queryLink)
            h2.visually-hidden Kompaniya logotipi va bosh sahifaga havola
            img(src="/images/logo.svg" alt="Logotip")
          
          div.header__container-inner-header-lang-cont
            a(href="./../ru/" + queryLink).header__container-inner-header-lang-cont-item рус
            a(href="./" + queryLink).header__container-inner-header-lang-cont-item.header__container-inner-header-lang-cont-item_active o'zb

          label.header__container-inner-header-nav-exit_mob(for="header-mob-nav") 
            img(src="/images/exit.svg", alt="Navigatsiya tugmasi")

        nav.header__container-inner-nav_mob
          h3.visually-hidden Sayt xaritasi
          ul.header__container-inner-nav-list_mob
            -
              var items = [
                {
                  href: "/uz/",
                  enName: "main",
                  name: "bosh sahifa",
                  specialClass: ""
                },
                {
                  href: "/gallery/uz/",
                  enName: "gallery",
                  name: "galereya",
                  specialClass: ""
                },
                {
                  href: "/how/uz/",
                  enName: "how",
                  name: "bu qanday ishlaydi",
                  specialClass: ""
                },
                {
                  href: "/benefits/uz/",
                  enName: "benefits",
                  name: "afzalliklar",
                  specialClass: ""
                },
                {
                  href: "/design/uz/",
                  enName: "design",
                  name: "sizning dizayningiz",
                  specialClass: "header__nav-list-item_mob-design"
                }
              ]

            each item in items 
              li(class="header__container-inner-nav-list-item_mob " + (item.enName == activeName ? "header__container-inner-nav-list-item_mob-active " : " ") + item.specialClass)
                a(href=item.href + queryLink)
                  span #{item.name}
          
        div.header__container-inner-links_mob
          a(href="https://www.instagram.com/metalcards.uz?utm_medium=copy_link") instagram
          a(href="http://tiktok.com/@metalcardsuz") tik tok
          a(href="https://t.me/metalcardsuz") telegram
          a(href="tel:+998989997799") +998 98 999 77 99
          span © 2022 MetalCards